/.ipynb_checkpoints/
/utils.py~
/__pycache__/
/#%20markdown-code-fontification%3Agfm-view-mode#DkEZFK#
/#%20markdown-code-fontification%3Apython-mode#pagN5l#
/IDIVDia_29-03-21.csv~
/#%20markdown-code-fontification%3Apython-mode#xm4N9U#
